html, body {
    margin: 0;
    padding: 0;
}

svg {
    width: 600;
    height: 800;
}

.gAxis {
    transform: rotate(-90);
    text-anchor: end;
}

.chartLine {
    fill: none;
    stroke-linejoin: "round";
    stroke-linecap: "round";
}